*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  background: linear-gradient(to bottom,#201c20,#3b3a3b) no-repeat fixed;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vw;
  width:400px;
}

.counter{

  color: #a3a3a3;
  font-size: 100px;
}

/* .btnscontainer{
  display: flex;
  justify-content: space-around;
} */

.strtbtn {
  background-color: #555555;
  color: rgb(255, 255, 255);
  border: 2px solid #555555;
  height: 40px;
  width: 100px;
  margin-right: 40px;
}

.strtbtn:hover {
  background-color: #979797;
  color: white;
}

.stpbtn {
  background-color: #555555;
  color: rgb(255, 255, 255);
  border: 2px solid #555555;
  height: 40px;
  width: 100px;
  margin-right: 40px;
}

.stpbtn:hover {
  background-color: #979797;
  color: white;
}

.rstbtn {
  background-color: #f44336;
  color: rgb(255, 255, 255);
  border: 2px solid #f44336;
  height: 40px;
  width: 100px;
  margin-left: 40px;
}

.rstbtn:hover {
  background-color: #e25b51;
  color: white;
}